@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #fff;
}

.bg-primary {
  background-color: #9085D1 !important;
}

.main-color {
  color: #9085D1 !important;
}

.bg-secondary {
  background-color: #102437 !important;
}

.btn-primary, .btn-primary:hover {
  background-color: #9085D1;
  border-color: #9085D1;
  border-radius: 26px;
  padding: 10px 25px;
}

.btn-warning, .btn-warning:hover {
  background-color: #102437;
  border-color: #102437;
  border-radius: 26px;
  padding: 10px 35px;
  color: #fff;
}

/*Beginning of Homepage */
.home {
  background-image: url('./assets/LandingImage-removebg-preview.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-home {
  background-color: #102437c1;
}

.intro {
  color: #fff;
  text-align: center;
  padding-top: 170px;
}

.intro-p {
  color: #fff;
  text-align: center;
  padding-top: 30px;
}

.intro-p2 {
  color: #fff;
  text-align: center;
  padding-top: 143px;
}

/*Navbar*/
.navbar-brand, .navbar-brand:hover {
  color: #fff;
  font-weight: bold;
}

span {
  color: #9085D1;
}

.nav-link, .nav-link:hover {
  color: #fff;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
  color: #9085D1;
}


/*Courses Section*/
.card {
  border: none;
  margin-bottom: 25px;
}

.card-img-top {
  height: 100px;
  object-fit: cover;
}

.card-body {
  color: #fff;
  background-color: #9085D1;
  padding-bottom: 0;
  padding-top: 10;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 70px;
}

.course-text {
  font-weight: bold;
}

/*Enroll Section*/
.enroll  {
  background-color: #102437;
  height: 560px;
}

.enroll-heading {
  color: #fff;
  padding-top: 180px;
  padding-left: 100px;
}

.enroll-text {
  color: #C3C8CD;
  padding-left: 100px;
}

#enroll-btn {
  margin-left: 100px;
  margin-top: 10px;
}

.enroll-img {
  position: absolute;
  width: 629px;
  height: 455px;
  left: 650px;
  top: 1170px;
}

/*Newsletter Section*/
.newsletter {
  background-color: #9085D1;
  height: 55vh;
}

.newsletter-text {
  color: #fff;
  text-align: center;
}

.newsletter-form {
  margin-top: 70px;
  padding: 0px;
}

.input-group input {
  height: 55px;
  background-color: #fff;
  border-radius: 26px 0px 0px 26px;
  border: none;
}

::placeholder {
    color: #AEB0B4;
    font-size: 15px;
    padding-left: 10px;
}

:focus,
:active {
  box-shadow: none;
}

.input-group-append button, .input-group-append button:hover{
  margin-left: -20px;
  height: 55px;
  border-radius:  26px 26px 26px 26px ;
}

/*Footer*/
.footer-wrapper {
  position: relative;
  display: block;
  z-index: 1;
}

.footer-heading {
  color: #fff;
  padding-top: 100px;
  padding-left: 100px;
}

.footer-text {
  color: #C3C8CD;
  padding-left: 100px;
  padding-top: 20px;
  cursor: pointer;
}

.footer-nav {
  text-decoration: none;
  color: #C3C8CD;
  display: block;
  margin-top: 10px;
  cursor: pointer;
}

.footer-nav:hover {
  color: #9085D1;
}

.fa-brands {
  color: #fff;
}

.fa-brands:hover {
  color: #9085D1;
}

/*==================End of Homepage=======================*/

/*Beginning of contact us page*/
.contact {
  background-image: url('./assets/IMG-3239.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
}

.bg-contact {
  background-color: #102437c1;
  height: 90vh;
}

.contact-heading {
  color: #9085D1;
  padding-top: 50px;
}

.contact-card {
  padding-top: 20px;
  padding-bottom: 60px;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid #102437;
  margin-bottom: 20vh;
}

.btn-contact {
  width: 100%;
  background-color:#102437;
  color: #fff;
  padding: 10px;
  font-weight: 700;
  border-radius: 30px;
}

.btn-contact:hover {
  background-color: transparent;
  border: 1px solid #102437;
  color: #102437;
}

/*==================End of Contact us page=======================*/

/*Beginning of sign up page */
.outer-signup-card {
  padding-top: 20px;
  padding-bottom: 60px;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid rgba(0,0,0,.125);
  margin-bottom: 10vh;
}

.inner-signup-card {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid rgba(0,0,0,.125);
}

.btn-login {
  width: 100%;
  background-color:#102437;
  color: #fff;
  padding: 10px;
  font-weight: 700;
  border-radius: 30px;
}
/*==================End of Sign up page=======================*/


/*Beginning of Login page */
.login-card {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid rgba(0,0,0,.125);
  margin-bottom: 10vh;
}

.login-heading {
  color: #9085D1;
  margin-top: 30px;
}
/*==================End of Login page=======================*/

/*Beginning of About page */
.about {
  background-image: url('./assets/IMG-3216.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
}

.bg-about {
  background-color: #102437c1;
  height: 90vh;
}

.about-text {
  margin-top: 50px;
}

.btn-about {
  width: 25%;
  background-color:#102437;
  color: #fff;
  padding: 10px;
  font-weight: 700;
  border-radius: 30px;
}

.about-section {
  height: 492px;
}

.about-statistics {
  background-color: #9085D1;
  height: 50vh;
}

#about-p {
  line-height: 30px;
}

.icon-text {
  color: #fff;
  margin-top: 20px;
}


/*==================End of About page=======================*/


/*Forms*/
/* Forms */
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  margin-bottom: 10px;
}

.form-group select {
  height: 49px;
}
    :focus,
    :active {
      box-shadow: none
}

.form-group input {
  height: 49px;
}
  ::placeholder {
    color: #AEB0B4;
    font-size: 15px;
  }

  :focus,
  :active {
      box-shadow: none;
    }

  .required:after {
    content: " *";
    color: red;
  
}

.form-control2 {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #102437;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 26px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


/*==================End of Homepage=======================*/

/*Beginning of contact us page*/
.contact {
  background-image: url('./assets/IMG-3239.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
}

.bg-contact {
  background-color: #102437c1;
  height: 90vh;
}

.contact-heading {
  color: #9085D1;
  padding-top: 50px;
}

.contact-card {
  padding-top: 20px;
  padding-bottom: 60px;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid #102437;
  margin-bottom: 20vh;
}

.btn-contact {
  width: 100%;
  background-color:#102437;
  color: #fff;
  padding: 10px;
  font-weight: 700;
  border-radius: 30px;
}

.btn-contact:hover {
  background-color: transparent;
  border: 1px solid #102437;
  color: #102437;
}


/*==================End of Contact us page=======================*/

/*Beginning of sign up page */
.outer-signup-card {
  padding-top: 20px;
  padding-bottom: 60px;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid rgba(0,0,0,.125);
  margin-bottom: 10vh;
}

.inner-signup-card {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid rgba(0,0,0,.125);
}

.btn-login {
  width: 100%;
  background-color:#102437;
  color: #fff;
  padding: 10px;
  font-weight: 700;
  border-radius: 30px;
}
/*==================End of Sign up page=======================*/


/*Beginning of Login page */
.login-card {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid rgba(0,0,0,.125);
  margin-bottom: 10vh;
}

.login-heading {
  color: #9085D1;
  margin-top: 30px;
}
/*==================End of Login page=======================*/

/*Beginning of About page */
.about {
  background-image: url('./assets/IMG-3216.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
}

.bg-about {
  background-color: #102437c1;
  height: 90vh;
}

.about-text {
  margin-top: 50px;
}

.btn-about {
  width: 25%;
  background-color:#102437;
  color: #fff;
  padding: 10px;
  font-weight: 700;
  border-radius: 30px;
}

.about-section {
  height: 492px;
}

.about-statistics {
  background-color: #9085D1;
  height: 50vh;
}

#about-p {
  line-height: 30px;
}




.icon-text {
  color: #fff;
  margin-top: 20px;
}


/*==================End of About page=======================*/


/*Forms*/
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  margin-bottom: 10px;
}

.form-group select {
  height: 49px;
}
    :focus,
    :active {
      box-shadow: none
}

.form-group input {
  height: 49px;
}
  ::placeholder {
    color: #AEB0B4;
    font-size: 15px;
  }

  :focus,
  :active {
      box-shadow: none;
    }

  .required:after {
    content: " *";
    color: red;
  
}

.form-control2 {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #102437;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 20px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* End of Forms */

hr {
  margin: 1rem 0;
  color: white;
  border: 0;
  border-top: 1px solid;
  opacity: .25;
} 

/* Beginning of Courses page */
.dis {
  display: flex;
}

.courses-page {
  background-image: url('./assets/IMG-3214.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
} 

.bg-courses {
  background-color: #102437c1;
  height: 90vh;
}

.search-container {
  background-color: #b388ff;
  padding: 10px;
}

.search-container input {
  border: none; 
  padding: 10px;
  width: 80%;
}
.search-container i {
  font-size: 20px; 
}

.text-container {
  float: left;
  width: 20%; 
}

.text-block p {
  display: block;
}
.filter-sort-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.filter-sort-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 10px;
}

.filter-sort-button button {
  background-color: #102437c1;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-right: 10px;
}

.filter-sort-button i {
  font-size: 20px; 
}

.dashboard{
  background-color: #9085D1;
}
.dashboard-text{
  display: flex;
  justify-content: space-between;
}
.number-btn-i{
  position: absolute;
  left: 10%;
  bottom: 3%;
}
.number-btn-i p{
  font-size: 7px;
  display: inline-flex;
  width: 80px;
  height: 80px;
  padding-left: 0px;
  text-align: center;
  border: 2px solid #9085D1;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.number-btn-i, number-btn-i:hover{
  color: #9085D1;
  
}

.course-text {
  margin-right: 35%;
}
.tex {
  font-size: 20px;
}

/*==================End of Courses page=======================*/
/*DashboardNav*/
.header{
  background-color: #102437;
  
}
.navbar-brand, .navbar-brand:hover {
  color: #fff;
  font-weight: bold;
}

span {
  color: #9085D1;
}


.nav-link, .nav-link:hover {
  color: #fff;
}


.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
  color: #9085D1;
}

/* Beginning of Course Details page*/
.bg-coursedetails {
  background-color: #102437c1;
  height: 80vh;
}
.course-details {
  background-image: url(./assets/IMG-3213.JPG);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
}
/* .card-img-new {
width: 354px;
height: 190px;
border-radius: 20px;
}
.card-img-n {
  width: 274px;
  height: 350px;
} */
/* student dashboard */
 .dash-card {
  border: none;
  margin-bottom: 25px;
  
  
  
}
.dash-card-img-top 
.courses-text-container {
  float: left;
  width: 20%; 
  
}


.courses-text-block p {
  display: block;
  color: #fff;
}

/* styling for grades page */
.grades {
  background-image: url('./assets/IMG-3216.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
}
.bg-grades {
  background-color: #102437c1;
  height: 90vh;
}
.box{
  background-color: lavender;
  width: 700px;
  height: 800px;
  margin-left: 25px;
  margin-top: 50%;
  border-radius: 25px;
}
.button btn btn-primary{
  margin: 25px;
}

.content{
  width: 100%;
} 
.logo{
  color: #000000;
  font-size: 50px;
  letter-spacing: 1px;
  cursor: pointer;
  text-align: center;
  margin-top: 5%;
  margin-left: 80%;
  
}
.table{
  width: 80%;
  border-collapse: collapse;
  text-align: centre;
  margin-top: 5%;
  margin-left: 60%;
  position: -50%;
  
}
.table thead{
  text-align: centre; 
  
}
.table thead th{
  font-size: 20px;
  font-weight: 600;
  letter-spacing: o.35px;
  color: #000000;
  opacity: 1;
  padding: 12px;
  vertical-align: top;
  border: 1px solid#dddddd;
  text-align:center;
}
tr:nth-child(even),table thead>tr{
  background-color: lavendar;
}
.wrapall{
  width: 100%;
  display: flex;

}
.left{
  width: 30%;
  margin-top: 5%;

}
.right{
  width: 70%;
  padding: 20px;
}
a{
  text-decoration: none;
} 
 .left h4{
  color: #000000; 
} 
 .fa-trash-can{
  color: red;
  margin-left: 30px;
  cursor: pointer;
} 
 td{
  text-align: center;
}