.submit-btn {
    border-radius: 51px;
    background-color:#102437;
    color: #ffffff;
  
  height: 38px;

  
 position: static;
}


/* 
.container{
    color: #a1a3b6;
  text-align: left;
  font: 400 18px/28px "Outfit";
  position: static;
  left: 537px;
  top: 2457px;
} */

input{
    padding: 15px;
    border-radius: 51px;
    width: 350px;
}
textarea {
    padding: 75px;
    width: 220px;
    border-radius: 51px;

}
h2{
    color:#867aca ;
}
h3{
    color:hsl(0, 3%, 6%) ;
}
