/* .logo-text .logo-text-1 {
    
    font: 600 24px/34px "Outfit";
}
.logo-text .logo-text-2 {
    color: #867aca;
    font: 600 24px/34px "Outfit";
}




.hero-mini .hero-foreground{
    min-height: 50vh !important;
}

.hero-mini .hero-header{
    font: 600 50px/56px "Outfit";
} */