.teachercourse{
  overflow-x: hidden;
  overflow-y: hidden;
  overflow-block: hidden;
  position: absolute;
  gap:30em;
  width: 100vw;
  display: flex;
 
  background: linear-gradient(
    90deg,
    rgb(237, 223, 255) 0%,
    rgb(237, 223, 255) 100%
  );
  left:20px;
  
}
.teachercourses{
    display: flex;
    align-items: center;
    justify-content: center;  
     height: 100vh;
     width: 100vh; 
   
    
  }
 